*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #0f9f91;
}
.cabeca{
    background-color: #000;
    display: flex;
    align-items: center;
    color: #fff;
    height: 100px;
    justify-content: space-between;
    padding: 0px 3%;
}

/*flex é atribuido aos filhos dele e a modificacoa deve ser feita no paia para atingir os filhos, ele é responsivo nativamente*/



.redes{
    display: flex;
    width: 100px;
    background-color: #ffffff17;
    
    gap: 5px;
}


.redes a{
    background-color: antiquewhite;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cdn-icons-png{
    width: 30px;
    height: 30px;
}

.pesquisa{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: none;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.collum{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.descricao{
    width: 300px;
}

.apresentacao{
    gap: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.slide figure > img{
    width: 450px;
    height: 200px;
}


.acao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px

}

.botoes-acao{
    display: flex;
    flex-direction: column;
    gap: 4px;
    
}

.button{
    background-color: rgb(218, 148, 148);
    
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.circle{
    border-radius: 50%;
    

}

.segundary{
    background-color: #c03e02;
    color: #fff;
}

.primary{
    background-color: #f0bc2c;
    color: #fff;
    
}



/*SEGUNDA SECTION*/

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #0f9f9f;
}

.container_blocos{
    display: flex;
    background-color: rgba(0, 0, 0, 0.116);
    width: 100%;
    max-width: 1366px;
    flex-flow: row wrap;
    gap: 10px;
    

}



.container_blocos > div {
    flex-grow: 1;
    height: 190px;
    background-color: #4fe;
    
    
}

.container_blocos.lg-3 > div {
    flex-grow: 1;
    height: 190px;
    background-color: #4fe;
    flex-basis: calc(33% - 4px);
    
}

.section3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #0f9f9f;

}
.container_blocos.lg-4 > div {
    flex-grow: 1;
    height: auto;
    background-color: #4fe;
    flex-basis: calc(25% - 20px);

}



.shadow{
    /*fundos escuros sombras claras, fundos claros sombras escuras*/
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.699) ;
    /*Tipos de navegador*/
    -moz-box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.699) ;
    -webkit-box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.699)  ;
}

.button.shadow:hover{
    box-shadow: 3px 3px 2px 1px rgba(117, 16, 16, 0.699) ;
    /*Tipos de navegador*/
    -moz-box-shadow: 3px 3px 2px 1px rgba(107, 34, 34, 0.699) ;
    -webkit-box-shadow: 3px 3px 2px 1px rgba(117, 28, 28, 0.699)  ;
}

/*Todos que estao ativos*/
.button.shadow:active{

    /*fundos escuros sombras claras, fundos claros sombras escuras*/
    box-shadow: -3px -3px -2px -1px rgba(0, 0, 0, 0.699) inset;
    /*Tipos de navegador*/
    -moz-box-shadow: -3px -3px 2px 1px rgba(0, 0, 0, 0.699) inset ;
    -webkit-box-shadow: -3px -3px 2px 3px rgba(0, 0, 0, 0.699)  inset ;

}



.hidden{
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.9s ease;
    
}

div:hover > .hidden{
    visibility: visible;
    opacity: 1;
    
}

span.big-number{
    display: block;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin: 20px auto 0;
}

.description{
    text-align: center;
    color: rgba(0,0,0,0.50);
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container-info{
    background-color: rgb(255, 255, 255);
}

.name{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.linkedin{
    background-image: url(linkedin.png);
    background-size: cover;
    background-position: center;
    padding: 0;
    width: 50px;
    height: 50px;
}

.gmail{
    background-image: url(gmail.png.png);
    background-size: cover;
    background-position: center;
    padding: 0;
    width: 50px;
    height: 50px;

}

.perfil img{
    width:400px;
    height:400px;
    border-radius: 50%;
}

.info{
    gap: 10px;
}

.parallax{
    height: 400px;
    background-image: url(paisagem.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 40px
}

.top-bar{
    display: flex;
    gap: 10px;
}
.menu {
    text-decoration: inherit;
    color: #fff;
}

#link_about{
    color: #f0bc2c;
}
