*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}


.cabeca{
    background-color: #000;
    display: flex;
    align-items: center;
    color: #fff;
    height: 100px;
    justify-content: space-between;
    padding: 0px 3%;
}

/*flex é atribuido aos filhos dele e a modificacoa deve ser feita no paia para atingir os filhos, ele é responsivo nativamente*/



.redes{
    display: flex;
    width: 100px;
    background-color: #ffffff17;
    
    gap: 5px;
}


.redes a{
    background-color: antiquewhite;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cdn-icons-png{
    width: 30px;
    height: 30px;
}

.pesquisa{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: none;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.descricao{
    width: 300px;
}

.apresentacao{
    gap: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.slide figure > img{
    width: 450px;
    height: 200px;
}


.acao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px

}

.botoes-acao{
    display: flex;
    flex-direction: column;
    gap: 4px;
    
}

.button{
    background-color: rgb(218, 148, 148);
    width: 200px;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}


.segundary{
    background-color: #c03e02;
    color: #fff;
}

.primary{
    background-color: #f0bc2c;
    color: #fff;
    
}



/*SEGUNDA SECTION*/

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #0f9f9f;
}

.container_blocos{
    display: flex;
    background-color: rgba(0, 0, 0, 0.116);
    width: 100%;
    max-width: 1366px;
    flex-flow: row wrap;
    gap: 10px;

}



.container_blocos > div {
    flex-grow: 1;
    height: 190px;
    background-color: #4fe;
    flex-basis: calc(33% - 4px);
    
}


.shadow{
    /*fundos escuros sombras claras, fundos claros sombras escuras*/
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.699) ;
    /*Tipos de navegador*/
    -moz-box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.699) ;
    -webkit-box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.699)  ;
}

.button.shadow:hover{
    box-shadow: 3px 3px 2px 1px rgba(117, 16, 16, 0.699) ;
    /*Tipos de navegador*/
    -moz-box-shadow: 3px 3px 2px 1px rgba(107, 34, 34, 0.699) ;
    -webkit-box-shadow: 3px 3px 2px 1px rgba(117, 28, 28, 0.699)  ;
}

/*Todos que estao ativos*/
.button.shadow:active{

    /*fundos escuros sombras claras, fundos claros sombras escuras*/
    box-shadow: -3px -3px -2px -1px rgba(0, 0, 0, 0.699) inset;
    /*Tipos de navegador*/
    -moz-box-shadow: -3px -3px 2px 1px rgba(0, 0, 0, 0.699) inset ;
    -webkit-box-shadow: -3px -3px 2px 3px rgba(0, 0, 0, 0.699)  inset ;

}

